<div>
  <div>
    <p>Nhập dữ liệu cho sinh viên</p>
    <label for="">Họ tên</label>
    <input type="text">
    <label for="">Mã số sinh viên</label>
    <input type="text">
    <input type="button" value="Nhập">
  </div>

  <h2>TH elements define table headers</h2>
  <table style="width:100%">
    <tr>
      <th>Person 1</th>
      <th>Person 2</th>
      <th>Person 3</th>
    </tr>
    <tr>
      <td>Emil</td>
      <td>Tobias</td>
      <td>Linus</td>
    </tr>
    <tr>
      <td>16</td>
      <td>14</td>
      <td>10</td>
    </tr>
  </table>
</div>
